<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{menu}">
<head>
  <meta charset="UTF-8">
  <title>User home</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content">
  <div class="text-center">
    <h3>Welcome <span th:text="${#strings.concat(userDTO.firstname, ' ', userDTO.lastname)}"></span>, there are <span th:text="${userDTO.balance}"></span> on your account.</h3>
    <img th:src="@{/images/payMyBuddy.jpeg}" class="rounded" alt="Image of PayMyBuddy">
  </div>
</div>
</body>
</html>