<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{menu}">
<head>
  <meta charset="UTF-8">
  <title>Password update</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div layout:fragment="content">
<div class="p-3">
  <form th:action="@{/passwordUpdateForm}" th:object="${passwordChange}" method="post">
    <div class="col-md-6 offset-md-3">
      <div class="card">
          <div class="card-header">Password update</div>
            <div class="card-body">
              <div th:if="${param.success}">
                <div class="alert alert-success" role="alert">
                  Your password has been updated successfully.
                </div>
              </div>
          <div class="mb-3">
            <label for="currentPassword">Current password:</label>
            <input type="password" id="currentPassword" th:field="*{currentPassword}" required>
            <div class="text-danger" th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}"></div>
          </div>
          <div class="mb-3">
            <label for="newPassword">New password:</label>
            <input type="password" id="newPassword" th:field="*{newPassword}" required>
            <div class="text-danger" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></div>
          </div>
          <div class="mb-3">
            <label for="confirmPassword">Confirm new password:</label>
            <input type="password" id="confirmPassword" th:field="*{confirmPassword}" required>
            <div class="text-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}"></div>
          </div>
          <div>
            <button type="submit" class="btn btn-success">Save the new password</button>
          </div>
              After the update of your password, you will be redirected to the login page to connect with your new password.
        </div>
      </div>
    </div>
  </form>
</div>
</div>
</body>
</html>