<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{menu}">
<head>
  <meta charset="UTF-8">
  <title>Transfert</title>
  <link rel="stylesheet" href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/webjars/bootstrap-icons/1.11.3/font/bootstrap-icons.css">
</head>
<body>
<div layout:fragment="content">
<div class="container col-6">

  <div class="mb-5">
    <h3>Send Money</h3>
    <form action="#"  th:action="@{/actionTransfert}" method="post">
        <div class="row g-3 align-items-center">
        <div class="col-auto">
        <label for="connection" placeholder="Select A Connection"></label>
        </div>
        <div class="col-auto">
        <select name="connection" class="form-control" id="connection" required>
          <option value="" disabled selected>Select A Connection</option>
          <option th:each="connection : ${listOfConnections}" th:value="${connection}" th:text="${connection}"></option>
        </select>
        </div>

      <div class="col-auto">
        <label for="amount">Amount</label>
      </div>
      <div class="col-auto">
        <input type="number" class="form-control" id="amount" placeholder="0€">
      </div>
      <div class="col-auto">
      <button type="submit" class="btn btn-success">Pay</button>
      </div>
      </div>
    </form>
  </div>

  <div>
    <h3>My Transactions</h3>
    <table class="table table-striped border border-dark text-center mb-0">
      <thead class="bg-green text-white">
      <tr>
        <th>Connections</th>
        <th>Description</th>
        <th>Amount</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="t:${listTransfertsDTO}">
        <!--<td th:text="${#strings.concat(t.recipientFirstname, ' ', t.recipientLastname)}"></td>-->
        <td th:text="${t.recipientFirstname}"></td>
        <td th:text="${t.description}"></td>
        <td th:text="${t.amount} + ' €'"></td>
      </tr>
      </tbody>
    </table>
    <nav class="d-flex justify-content-center mt-0">
    <ul class="pagination">
      <li class="page-item" th:class="${currentPage == 0} ? 'disabled' : ''">
        <a class="page-link" th:href="@{/transfert(page=${currentPage - 1}, size=${pageSize})}" aria-label="Previous">
          <span>&laquo;</span>
        </a>
      </li>
      <li th:each="i : ${#numbers.sequence(0, pages - 1)}" th:class="${currentPage == i} ? 'page-item active' : 'page-item'">
        <a class="page-link" th:href="@{/transfert(page=${i}, size=${pageSize})}" th:text="${i + 1}"></a>
      </li>
      <li class="page-item" th:class="${currentPage + 1 >= pages} ? 'disabled' : ''">
        <a class="page-link" th:href="@{/transfert(page=${currentPage + 1}, size=${pageSize})}" aria-label="Next">
          <span>&raquo;</span>
        </a>
      </li>
    </ul>
    </nav>
  </div>
</div>
</div>
</body>
</html>